@font-face {
    font-family: "karla";
    src: url("https://github.com/googlefonts/karla");
  }


*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
}
.container_header{
    display:flex;
    justify-content:space-between;
    margin:0 auto;   
}

.logo, .navbar__wrap{
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}
.navbar__wrap li {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
    
}

.navbar__wrap a {
    vertical-align: middle;
    font-family:karla ;
    font-size: 12px;
    color: black;
    text-decoration: none;
    Letter-spacing: 3px;
    
}

.cart{
    padding-right: 40px;
}

.navbar__wrap a:hover{
    color: #0039f4;
}

.logo{
    vertical-align: middle;
    padding-right: 40px;
}


/* /header */




.title{
    
   text-align:center;
    background-image: url("../img/becgraund.svg");
    height: 530px;

}

.title__title{
padding-top:100px;
}


.content_buy{
    color: #fff;
    padding: 10px;
}
h1{
    color: #fff;
    padding: 10px;
}
.content_design{
    color: #fff;
    padding: 10px;
}
.button{
    color: black;
    background-color: #fff;
    margin-top: 20px;
    padding:5px 55px ;
    /* border-radius: 1%; */
    
}
/*  /page 1*/

.text-items{
    text-align: center;
    padding: 70px;
    
}

.content_text{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
}
.content_texts{
    color: rgba(29, 31, 46, 0.7);
    padding-top: 30p;
    font-family: 'Karla';
    font-size: 16px;
    line-height: 28px;
}

.button_read{
    font-family: 'Karla';
    margin-top: 21px;
    padding:1px 10px ;
    color: red;
    box-shadow: rgba(255, 0, 0, 0.5);
}

.content_mags{
    text-align: center;
    font-family: 'Karla';
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 100px;
    text-transform: uppercase;
}

/* /page 2 */

.container{
    display: flex;
    justify-content:center;
}

.gallery__item{
    padding: 0px 5px;
    flex: 0 1 25%;
}

.name__gallery{
    padding-top: 35px;
    text-align: center;
}

.content_magss{
    font-family: 'Karla';
    font-size: 12px;
    text-align: center;
    padding: 10%;
    text-transform: uppercase;
    color: #1D1F2E;
}

.USD{
    font-size: 16px;
    color: rgba(29, 31, 46, 0.7);
}

/* /page3 */

.gallery__items{
    display:flex;
    justify-content:center;
    margin: 0px -5px;
    flex-wrap:wrap;
    row-gap: 65px;
    column-gap: 1px;

}

.gallery_itemss{
    display: flex;
    padding: 0px 5px;
    flex: 0 1 25%;
    flex-direction: column; 
}

.name_gallery{
    font-family: 'Karla';
    font-size: 18px;
	margin: 30px 0px 5px 0px;
   text-align: center;
   line-height: 28px;
   color: #1D1F2E;
}

/* img*/




.container_love{
    display: flex;
    margin: 0px -5px;
    justify-content: center;

}
.item_block3{
    display:flex; 
    height: 100%;
}

.gallery_item2_1{
    height: 50%;
}
.img_col2{
    height: 50%;
}

.gallery_item2_2{
    align-self:flex-end;
}
.gallery_item2_3{
    align-self:flex-start;
}


h2{
    font-family: 'Karla';
    font-size: 36px;
    line-height: 50px;
    color: #1D1F2E;

}

.content_title{
    font-family: 'Karla';
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}

.Start__Shopping{
    font-family: 'Karla';
    margin-top: 21px;
    padding:1px 10px ;
    color: #fff;
    background-color: #1D1F2E;
    padding:5px 30px ;
}







.text_behin{
    line-height: 300px;
}
.well{
    width: 100%;
    height: 330px;
    background-image: url("../img/coffe.svg");
  
}
.content__mags{
    text-align: center;
    font-family: 'Karla';
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 100px;
    
}

/* colums */
.colums{
    display: flex;
     max-width: 990px;
    margin: 0px auto;
}

.colum{ 
    display: flex;
    padding: 0px 22.5px;
    flex: 0 1 33.333%;
    flex-direction: column;
}
   
.text{
    display: flex;
 font-family: 'Karla';
font-size: 20px;
line-height: 32px;
color: #1D1F2E;
flex:1 1 auto ;
}

.min-text{
    display: flex;
    font-family: 'Karla';
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
   
}

.year{
    display: flex;
    font-family: 'Karla';
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    padding-top: 10px;
} 
/* /colums */




/*footer*/
.footer{
    /* display: flex; */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.footer-column{
/* display: grid;
--gril-dap: 70px;
    gap: var(--gril-dap);
    grid-template-columns: repeat(4,1fr);
    padding: 60px 0; */

}
 
.footer__col{

}


.footer_text_col{   
    margin-top: 8%;
    text-align:center;
    background: #1D1F2E;
    height: 300px;
    color: #fff;
}
.text_pre{
    font-family: 'Karla';
    padding-top: 80px;
    text-transform: uppercase;
    font-size: 12px;

}

h3{
    padding-top: 15px;
    font-size: 36px;
}




.colmss_btn{
    display: flex;
    width: 100%;
    height: 80px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.footer_btn{
    display: flex;
    flex-grow: 2px;
}
.footer_btnn{
    display: flex;
    flex-grow: 2px;
}

.button_footer {
    font-family: 'Karla';
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    border-radius: 0px;
    border: 1px solid #fff;
    background-color: #1D1F2E;
    margin: 10px;
    padding:15px 55px ;
 
}
.footer_link{
    font-family: 'Karla';
    text-transform: uppercase;
    color: black;
    border-radius: 0px;
    height: 30px;
    padding: 5px 40px;
    background: #FFFFFF;
    box-shadow: 0px 5px 8px;
    border: 1px solid #fff;
    text-decoration: none;
}





/**/
.footer__navigasy{
    display: flex;   
    max-width: 990px;
    margin: 0px auto;
    padding-top: 30px ; 
    
} 

.footer-title{
    color: #1D1F2E;
    /* line-height: 50px; */
}
.footer-list-list-reset{
    display: flex;
    padding: 0px 22.5px;
    flex: 0 1 33.333%;
    flex-direction: column;
   
}

.footer-item{
    flex: 1 1 auto;
    /* padding-right: 55px; */
}

.footer-link{
    font-family: 'Karla';
    font-size: 13px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}

.copyright{
    display: flex;
    font-family: 'Karla';
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    /* padding-top: 55px; */
}

.footer-column{
    display: flex;
    max-width: 990px;
    margin: 0px auto;
    flex-direction: column;
}

.footer-list-list-reset{
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    flex: 1 1 auto;
    vertical-align: middle;
    color: black;
}

.copyright_polo{
    display: flex;
    font-family: 'Karla';
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a3a4ab;
    padding-top: 55px;
}

.footer-text{
    font-family: 'Karla';
font-size: 12px;
line-height: 18px;
text-transform: uppercase;
color: #1D1F2E;
}

.footer-text-help{
    font-family: 'Karla';
font-size: 14px;
color: rgba(34, 37, 65, 0.7);
}

.footer-item_s{
    font-family: 'Karla';
font-size: 12px;
text-transform: uppercase;
color: #4a4545;
padding-bottom: 20px;
}

.footer-mail{
    display: inline-block;
    font-family: 'Karla';
font-size: 23px;
line-height: 36px;
color: #1D1F2E;
text-decoration: none;

}

.footer-logo{
    padding-bottom: 10px;
}


ul {list-style: none;}

.footer-link{
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
}